In [6]:
import pandas as pd
import config

In [2]:
#SQL
import mysql.connector 
from mysql.connector import errorcode
from sqlalchemy import create_engine

In [3]:
# CSV import 
# fin
df = pd.read_csv('')

## SQL Setup

In [7]:
cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        password = config.passwd)

print(cnx)
cursor = cnx.cursor()

#insert Database Name
db_name = ''

<mysql.connector.connection_cext.CMySQLConnection object at 0x116a73eb8>

In [8]:
#creates db
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

Database wonder does not exists.
Database wonder created successfully.

In [9]:
cnx.commit()
cursor.close()
cnx.close()

### Append CSV to SQL Server

In [10]:

engine = create_engine("mysql+mysqlconnector://{user}:{pw}@{host}/{db}"
                       .format(user=config.user,
                               pw=config.passwd,
                               host=config.host,
                               db=config.db_name))

In [11]:

# Insert whole DataFrame into MySQL
# fill in empty quotes with table name 
df.to_sql('', con = engine, if_exists = 'append')